:root {
  --primary-color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(0deg, rgba(224, 37, 206, .79) 0%, rgba(3, 56, 244, .71) 100%);
}

/* UI Components */
.container {
  display: flex;
  justify-content: center;
  gap: 6px;
}

/* UI profile */
.profile {
  display: flex;
  align-items: center;
  gap: 22px;
}

.profile__img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
}

.profile__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile__title {
  font-size: 35px;
  font-weight: 500;
  color: var(--primary-color);
}

.profile__text {
  margin-top: 5px;
  text-transform: uppercase;
  color: #CECACA;
}

/* UI Info */
.info {
  padding: 7px 20px;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  background-color: rgba(196, 196, 196, .35);
  border-radius: 10px;
}

.info a {
  color: var(--primary-color);
}

.info svg {
  margin-right: 30px;
  width: 24px;
  height: 24px;
}

/* SECTIONS */

/* Contacts */
.contacts {
  padding: 10px 18px;
  background-color: rgba(196, 196, 196, .3);
  border-radius: 10px;
}

.contacts__items {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.contacts__profile {
  margin-bottom: 20px;
}

/* Description */
.description {
  padding: 20px 14px;
  background-color: var(--primary-color);
  border-radius: 10px;
}


